[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
max_connections=1000
wait_timeout=86400
interactive_timeout=86400
innodb_buffer_pool_size=1G
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
