.leixi-page-container {
  padding: 16px;
  background-color: #f5f7fa;
}

.leixi-text-main {
  color: #0f172a !important; /* slate-900 */
  font-weight: 700 !important;
}

.leixi-text-secondary {
  color: #64748b !important; /* slate-500 */
}

.leixi-filter-height {
  height: 44px !important;
}

.leixi-filter-border {
  border: 1px solid #64748b !important;
}
